.education-section {
    /* Add your styles here */
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    /* Other styles */
  }
  .education-info {
    position: relative;
  }
  .editBtn {
    /* position: absolute; */
    /* top: 0; */
  }

  
