#root {
  max-width: 100%;
  margin: auto;
  padding: 2rem;
  text-align: center;
  --border-radius: 2%;
}
.card {
  /* padding: 0.2em 8em 0.2em 8em; */
  /* width: 200%; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* border-radius: var(--border-radius); */
}