.generalInfo {
    padding: 0;
    margin: 0;
    background-color: #4585de;
    /* border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius); */
    color: white;
    width: 40em;
  }
  .name {
    margin: 0;
    padding: 0;
  }
  .email {
    padding: 0%;
    margin: 0%;
  }
  .phone {
    margin: 1%;
    padding-bottom: 0.2em;
  }
  